.sidenav {
    padding: 0 1.25rem;
    width: 12%;
    height: 90vh;

    .list {
        list-style-type: none;
        padding: 0;

        .listItem {
            
            padding: 0.5rem 0;

            .routerLink {
                font-size: 20px;
            }
        }
    }
}
