.header {
    display: flex;
    align-items: center;
    background-color: #242424;
    border-bottom: 1px solid #4a4a4a;

    .logo {
      padding: 0 1rem;
    }

    .title {
      padding: 0 1rem;
    }

    .desc {
      padding: 0 1rem;
    }
  }